@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng tới với nhóm 1</h1>
    <p class="lead">Chúng tôi rất vui mừng được chào đón bạn!</p>
    <hr class="my-4">
    <p>Nhóm 1 luôn nỗ lực để mang đến những sản phẩm tốt nhất.</p>
    <a class="btn btn-primary btn-lg" asp-controller="Stations" asp-action="Index" role="button">Tìm hiểu thêm</a>
</div>
