@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng tới với nhóm 3</h1>
    <p class="lead">Chúng tôi rất vui mừng được chào đón bạn!</p>
    <hr class="my-4">
    <p>Nhóm 3 luôn nỗ lực để mang đến những sản phẩm tốt nhất.</p>
    @* <a class="btn btn-primary btn-lg" href="#" role="button">Tìm hiểu thêm</a> *@
</div>
